---
title: Blog Page
layout: base.njk

---

<header>
  {% include "navbar.njk" %}
</header>

<h2>Blog Page</h2>

<ul>
{%- for blog in collections.blog -%}
  <li><a href="{{ blog.url }}">{{ blog.data.title }}</a> <br>{{ blog.data.description }}</li>
{%- endfor -%}
</ul>
