<h2>Contact Us</h2>

<div class="contact_us">
  <div class="div1">
    Read our latest content on 
    <a target="_blank" href="https://revillagesociety.substack.com?utm_campaign=email-home&r=359srp">SubStack</a>.
  </div>
  <div class="div2">

    <a target="_blank"  href="https://calendly.com/revillagesociety/30min">Schedule</a> a call with Genevieve and Schappet.
  </div>
  <div class="div3"> 
    <a href="mailto:revillagesociety@gmail.com">revillagesociety@gmail.com</a>
  </div>
</div>


